$datepicker__background-color: #F1F5F8 !default;
$datepicker__border-color: #E1E9EE !default;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: #ccc !default;
$datepicker__selected-color: #FFF !default;
$datepicker__text-color: #1674D1 !default;
$datepicker__header-color: #000 !default;
$datepicker__navigation-disabled-color: lighten($datepicker__muted-color, 10%)
  !default;

$datepicker__border-radius: 4px !default;
$datepicker__day-margin: 4px !default;
$datepicker__font-size: 0.8rem !default;
$datepicker__font-family: "Helvetica Neue", Helvetica, Arial,
  sans-serif !default;
$datepicker__item-size: 30px !default;
$datepicker__margin: 4px !default;
$datepicker__navigation-size: 0.45rem !default;
$datepicker__triangle-size: 8px !default;